@import '../../../styles/colors';
@import '../../../styles/mixin';

.Container {
  @extend .display-flex;
  @extend .flex-direction-column;
  width: 100%;
  word-break: break-all;
  position: relative;
}

.CopyContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.Line {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-center-start;
  font-family: 'Source Code Pro', monospace;
  padding: 2px 0;
}

.LineNumber {
  margin-right: 10px;
  word-break: keep-all;
  color: var(--text-color-secondary);
}

.Space {
  @extend .display-flex;
  @extend .flex-center;
  margin: 0 2px;
  font-size: 0.8em;
  color: rgba($blue, 0.1);
}

.Prop {
  color: $blue;
}

.String {
  color: $green;
}

.Number {
  color: $orange;
}
