@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.Card {
  background: var(--card);
  @include border-radius($border-radius);
  padding: 20px;
  border: 1px solid var(--border);
  width: 100%;
  height: 100%;
  @extend .bsbb;
  @extend .display-flex;
  @extend .flex-direction-column;
  @extend .flex-justify-between;
}

.Name {
  width: 100%;
  @extend .display-flex;
  @extend .flex-direction-column;
  span {
    width: 100%;
    font-size: 0.8em;
    color: var(--text-color-secondary);
    text-transform: uppercase;
    &:not(:empty) {
      margin-bottom: 5px;
    }
  }
}

.Status {
  width: 100%;
  @extend .display-flex;
  @extend .flex-center-end;
  margin-top: 20px;
  span {
    display: inline-block;
    @include border-radius($border-radius / 2);
    padding: 10px;
    font-weight: 400;
    i {
      margin-left: 5px;
    }
  }
}

.Ok {
  background: rgba($green, 0.1);
  color: $green;
}

.Warning {
  background: rgba($orange, 0.1);
  color: $orange;
}
