@import '../../../styles/colors';
@import '../../../styles/mixin';

.ErrorContainer {
  @extend .display-flex;
  @extend .flex-direction-column;
  pre {
    background: var(--card);
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    @include border-radius($border-radius);
  }
}

$background: var(--background);
$foreground: var(--text-color);

@mixin gitchText($offset, $text, $delay) {
  content: $text;
  position: absolute;
  left: $offset;
  top: $offset;
  clip: rect(0, 900px, 0, 0);
  background-color: $background;
  color: $foreground;
  animation: glitch 2s infinite alternate-reverse;
  animation-delay: $delay;
}

.Glitch {
  color: $background;
  background-color: $background;
  color: $foreground;
  position: relative;
  font-size: 5em;
  &:after {
    @include gitchText(2px, attr(data-content), 4s);
  }
  &:before {
    @include gitchText(-2px, attr(data-content), 4s);
  }
}

.SmallGlitch {
  @extend .Glitch;
  font-size: 1.5em;
  margin: 20px 0;
  &:after {
    @include gitchText(2px, attr(data-content), 5s);
  }
  &:before {
    @include gitchText(-2px, attr(data-content), 5s);
  }
}

@keyframes glitch {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (0.5 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
  50% {
    clip: rect(0, 9999px, 0, 0);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
  }
}
