@import '../../../styles/colors';
@import '../../../styles/mixin';

.ErrorContainer {
  @extend .display-flex;
  @extend .flex-direction-column;
  span {
    font-size: 1.5em;
    margin-top: 20px;
  }
}

.Oops {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 3vw;
}
