@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixin';

.CustomNode {
  width: 200px;
  height: 80px;
  background: var(--input-bkg);
  @include border-radius($border-radius / 2);
  @extend .bsbb;
  padding: 10px;
  @extend .flex-direction-column;
  @extend .display-flex;
  border: 1px solid var(--border);
  overflow: hidden;
  cursor: pointer;
}

.LiIcon {
  margin-bottom: 5px;
  font-size: 0.8em;
  @extend .flex-direction-row;
  @extend .display-flex;
  @extend .flex-center-start;
  img {
    width: 20px;
    margin-right: 10px;
  }
}

.LiName {
  font-weight: 600;
  font-size: 0.8em;
}

// .Unknown {
//   // color: var(--border);
// }

.Progressing {
  background: rgba($orange, 0.5);
}

// .Healthy {
//   // background: rgba($green, 0.5);
// }

.Unhealthy {
  background: rgba($red, 0.5);
}
