@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.UlSocial {
  @extend .display-flex;
  @extend .flex-direction-column;
  @extend .flex-center;
  position: absolute;
  top: 0;
  @extend .bsbb;
  padding: 10px;
  right: 0;

  @media screen and (min-width: 768px) {
    @include flex-direction-row;
    left: 25%;
    width: 75%;
  }
  @media screen and (min-width: 1024px) {
    left: 50%;
    width: 50%;
  }

  li {
    margin: 10px 0;
    @media screen and (min-width: 768px) {
      margin: 0 20px;
    }
  }
}

.Link {
  color: var(--text-color-secondary);
  &:hover {
    color: $white;
    @media screen and (min-width: 768px) {
      color: var(--text-color);
    }
  }
}
