@import '../../../styles/colors';
@import '../../../styles/mixin';

.UlSegment {
  @extend .display-flex;
  @extend .flex-direction-row;
  border: 1px solid var(--border);
  @include border-radius($border-radius / 2);
  width: fit-content;
  overflow: hidden;
  height: 40px;
  li {
    button {
      padding: 10px 20px;
      height: 100%;
      text-transform: uppercase;
      i {
        margin-right: 10px;
      }
      &[active] {
        background: $blue;
        color: $white;
      }
    }
    &:hover {
      background-color: var(--background-transparent);
    }
  }
}
