@import '../../../../styles/_colors';
@import '../../../../styles/_mixin';

.Card {
  background: var(--card);
  width: 100%;
  @include border-radius($border-radius);
  @extend .display-flex;
  @extend .flex-direction-column;
  overflow: hidden;
}

.UlHeader {
  @extend .bsbb;
  padding: 0 20px 20px 20px;
  @extend .display-flex;
  @extend .flex-direction-row;
  width: 100%;
  // color: $blue;
  // color: $white;
  // @include opacity(0.5);
  li {
    @extend .display-flex;
    @extend .flex-center-start;
    font-size: 2em;

    &:first-of-type {
      margin-right: 20px;
      width: auto;
    }
    &:last-of-type {
      width: 100%;
    }
  }
}

.Title {
  @extend .bsbb;
  padding: 20px 20px 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  // color: $white;
  font-size: 0.8em;
  @include opacity(0.7);
}

@mixin npt($name, $color) {
  .#{$name} {
    border: 1px solid var(--border);
    &:hover {
      border: 1px solid $blue;
    }
    // background: $blue;
    // background: linear-gradient(
    //   45deg,
    //   rgba($blue, 0.1) 0%,
    //   rgba($color, 0.1) 100%
    // );
    i {
      color: $blue;
    }
  }
}

@include npt('Green', $green);
@include npt('Orange', $orange);
@include npt('Red', $red);
@include npt('Blue', $blue);
@include npt('Violet', $violet);
@include npt('Yellow', $yellow);

.LinkNone {
  pointer-events: none;
}
