@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.Brand {
  background: var(--nav);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zi-brand;
  @extend .display-flex;
  @extend .flex-center-start;
}

.Link {
  @extend .bsbb;
  padding: 10px;
  width: 200px;
  @extend .display-flex;
  @extend .flex-center;
  @include transition(0s);
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.Closed {
  width: 60px;
  @include transition(0s);
}
