@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/common';

.LoginContainer {
  @extend .bsbb;
  padding: 20px;
  @extend .display-flex;
  @extend .flex-center;
}

.LoginBox {
  background: var(--card);
  @include border-radius($border-radius);
  padding: 20px;
  @extend .bsbb;
  @extend .responsive-width;
  max-width: 400px;
  // border: 1px solid $border;
}

.LogoContainer {
  @extend .display-flex;
  @extend .flex-center;
  margin-bottom: 50px;
}

.Logo {
  max-width: 200px;
}

.LoginButton {
  @extend .primary-button;
}
