@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.UlEndpoint {
  @extend .display-flex;
  @extend .flex-direction-row;
  background: var(--card);
  @include border-radius($border-radius);
  padding: 20px;
  @extend .bsbb;
  background: var(--card);
  border: 1px solid var(--border);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.LiIcon {
  min-width: 40px;
  max-width: 40px;
  i {
    width: 40px;
    height: 40px;
    // font-size: 1.5em;
    @extend .display-flex;
    @extend .flex-center;
    @include border-radius(50%);
    background: $blue;
    color: $white;
  }
}

.LiInfo {
  @extend .display-flex;
  @extend .flex-direction-column;
  margin-left: 20px;
  width: 100%;
}

.Name {
  font-weight: 600;
  // margin-bottom: 10px;
  text-transform: uppercase;
}

.DeleteBtn {
  @extend .display-flex;
  @extend .flex-center;
  height: 42px;
  width: 42px;
  border: 1px solid var(--border);
  @include border-radius($border-radius);
  color: var(--border);
  &:hover {
    color: $red;
    border: 1px solid var(--text-color);
  }
}

.UlLabels {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-wrap;
  li {
    width: 50%;
  }
}
