@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.TopNav {
  position: fixed;
  top: 0;
  background: var(--nav);
  height: 60px;
  left: 0;
  @extend .bsbb;
  width: 100%;
  padding: 0 0 0 60px;
  z-index: $zi-nav;
  @extend .display-flex;
  @extend .flex-center-start;
  border-bottom: 1px solid var(--border);
}

.Icon {
  min-width: 40px;
  min-height: 60px;
  @extend .display-flex;
  @extend .flex-center;
  padding-right: 20px;
}

.BtnIcons {
  color: var(--text-color-secondary);
  font-size: 20px;
  min-width: 40px;
  min-height: 40px;
  @extend .display-flex;
  @extend .flex-center;
  border: 1px solid var(--border);
  @include border-radius(50%);
  &:hover {
    color: var(--text-color);
    i {
      animation: shake 1s;
    }
  }
}

@keyframes shake {
  30% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

.Unread {
  display: block;
  width: 10px;
  height: 10px;
  background: $red;
  @include border-radius(50%);
  position: fixed;
  top: 20px;
  right: 16px;
  border: 1px solid var(--card);
  z-index: 1;
}
