@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.TopNav {
  position: fixed;
  top: 0;
  background: var(--nav);
  height: 60px;
  left: 0;
  @extend .bsbb;
  width: 100%;
  padding: 0 0 0 60px;
  z-index: $zi-nav;
  @extend .display-flex;
  @extend .flex-center-start;
}

.BtnIcons {
  color: var(--text-color-secondary);
  font-size: 20px;
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
  &:hover {
    color: var(--text-color);
  }
}
