@import '../../../styles/colors';
@import '../../../styles/mixin';

.UlPassword {
  @extend .display-flex;
  @extend .flex-direction-row;
  width: 100%;
  li {
    &:first-of-type {
      width: 100%;
    }
    &:last-of-type {
      min-width: 42px;
      margin-left: 10px;
    }
  }
}

.Switch {
  @extend .display-flex;
  @extend .flex-center;
  height: 42px;
  width: 42px;
  border: 1px solid var(--border);
  @include border-radius($border-radius / 2);
  &:hover {
    border: 1px solid var(--text-color);
  }
}
