@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.SkeletonGrid {
  @extend .display-flex;
  @extend .flex-wrap;
  @extend .flex-direction-row;
  > div {
    width: 100%;
    @extend .bsbb;
    &:not(:last-of-type) {
      padding-bottom: 10px;
    }
    > div {
      @include border-radius($border-radius);
      overflow: hidden;
    }
  }
}
