@import '../../../styles/colors';
@import '../../../styles/mixin';

.Container {
  @include border-radius($border-radius);
  margin: 10px 0 20px 0;
  @extend .display-flex;
  @extend .flex-direction-row;
  > input {
    background: var(--background);
    border: 0;
    @include border-radius($border-radius / 2);
    &:focus {
      background: var(--card);
      border: 0;
    }
  }
}

.Button {
  width: 42px;
  height: 42px;
  @extend .display-flex;
  @extend .flex-center;
  color: var(--border);
  @include border-radius($border-radius / 2);
  margin-left: 10px;
  &:hover {
    background: var(--card);
    color: $blue;
  }
}
