@import '../../../styles/colors';
@import '../../../styles/mixin';

.Container {
  @include border-radius($border-radius);
  margin: 0 0 20px 0;
  @extend .display-flex;
  @extend .flex-direction-row;
  > input {
    background: var(--background);
    border: 0;
    @include border-radius($border-radius / 2);
    border: 1px solid var(--border);
    &:focus {
      background: var(--input-bkg);
    }
  }
}

.Action {
  min-width: 42px;
  min-height: 42px;
  @extend .display-flex;
  @extend .flex-center;
  color: rgba(var(--text-color), 0.5);
  @include border-radius($border-radius / 2);
  margin-left: 10px;
  border: 1px solid var(--border);
  &:hover {
    background: var(--input-bkg);
  }
}
