@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';
@import '../../../../../styles/common';

.Container {
  background: var(--card);
  width: 100%;
  @include border-radius($border-radius);
  @extend .bsbb;
  padding: 10px;
  @extend .display-flex;
  @extend .flex-direction-column;
  border: 1px solid var(--border);
}

.ButtonDelete {
  margin-top: 10px;
  @extend .primary-button;
}

.Please {
  margin: 20px 0;
}

.Emphasis {
  color: $blue;
  font-weight: 600;
}
