@import '../../../styles/colors';
@import '../../../styles/mixin';

.Btn {
  @extend .display-flex;
  @extend .flex-center;
  @include border-radius(5px);
  width: 42px;
  height: 42px;
  font-size: 20px;
  border: 1px solid var(--border);
  color: var(--text-color-secondary);
  &:hover {
    border: 1px solid var(--text-color);
    color: var(--text-color);
  }
}
