@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/common';

.ModalBkg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zi-modal-bkg;
  background: rgba($black, 0.7);
  @extend .display-flex;
  @extend .flex-center;
  overflow: auto;
  backdrop-filter: blur(5px);
}

.ModalContainer {
  background: var(--card);
  @include border-radius($border-radius);
  @extend .bsbb;
  padding: 10px;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
  @extend .display-flex;
  @extend .flex-direction-column;
  border: 1px solid var(--border);
  @media screen and (min-width: 320px) {
    width: 90%;
    max-width: 90%;
  }
  @media screen and (min-width: 768px) {
    width: 60%;
    max-width: 60%;
  }
}

.ModalBody {
  max-height: 70vh;
  @extend .bsbb;
  @media screen and (min-width: 768px) {
    padding: 10px;
  }
  overflow: hidden;
  @extend .display-flex;
  @extend .flex-direction-column;
}

.CloseCross {
  border: 1px solid var(--border);
  @extend .display-flex;
  @extend .flex-center;
  @include border-radius(50%);
  font-size: 0.8em;
  min-width: 40px;
  min-height: 40px;
  margin-left: 10px;
  &:hover {
    border: 1px solid var(--text-color);
    transform: rotate(90deg);
  }
}

.Title {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: capitalize;
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-justify-between;
}

.Content {
  overflow: auto;
  height: 100%;
}

.UlBtns {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-end;
  @extend .bsbb;
  padding: 10px 0;
  @media screen and (min-width: 768px) {
    padding: 10px;
  }
  @extend .flex-justify-between;
}

.BtnClose {
  @extend .default-button;
}

.BtnConfirm {
  @extend .primary-button;
}

.FooterMessage {
  width: 100%;
  text-align: right;
  @extend .bsbb;
  padding: 0 10px;
  color: $red;
  font-size: 0.8em;
}
