@import 'colors';
@import 'mixin';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text-color);
}

body,
div,
input,
select,
textarea,
a,
button,
pre {
  font-size: 1em;
  line-height: 1em;
  font-family: 'Rubik', sans-serif;
  vertical-align: top;
  font-weight: 300;
  color: var(--text-color);
  border: 0;
  outline: none;
}
textarea {
  resize: none;
}

a,
button {
  @extend .trstn;
  text-decoration: none;
  &:hover {
    @extend .trstn;
  }
}

::selection {
  background-color: $selection;
  color: $text-selection;
}

::-moz-selection {
  background-color: $selection;
  color: $text-selection;
}

button {
  cursor: pointer;
  background: transparent;
}

input[type='submit'] {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

:disabled {
  cursor: not-allowed;
  @include opacity(0.5);
}

input,
textarea,
select {
  width: 100%;
  background: var(--input-bkg);
  border: 1px solid var(--input-bkg);
  padding: 10px;
  color: var(--text-color);
  @include border-radius($border-radius / 2);
  @extend .bsbb;
  height: 42px;
  @extend .trstn;
  &:focus {
    border: 1px solid $blue;
    @extend .trstn;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color);
  opacity: 0.5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color);
  opacity: 0.5;
}

textarea {
  min-height: 250px;
}

button {
  padding: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-center-start;
  width: 100%;
  margin-bottom: 20px;
}

h2 {
  @include font-size(1.2em);
  margin-bottom: 20px;
  text-transform: capitalize;

  &.mt {
    margin-top: 20px;
  }
}
