$white: #ffffff;
$black: #000000;

/* LIGHT */
$background-light: #f3f3f9;
$card-light: #ffffff;
$text-color-light: #263242;
$text-color-secondary: #a0a8b0;

/* DARK */
$background-dark: #201d2c;
$card-dark: #242837;
$text-color-dark: #ffffff;

/* COMMON */
// Palette: https://coolors.co/palette/ef476f-f78c6b-ffd166-83d483-06d6a0-0cb0a9-118ab2-0c637f-073b4c
$green: #83d483;
$orange: #f78c6b;
$red: #ef476f;
$yellow: #ffd166;
$blue: #118ab2;
$blue-darker: #0c637f;
// $violet: #af5cff;
// $cyan: #b9e6ff;

// $green: #00a676;
// $orange: #f08000;
// $red: #d44a1f;
// $yellow: #fbb927;
// $blue: #1596d4;
// $blue-darker: #1283b7;
// $violet: #54509d;
// $cyan: #00b3c8;

$secondary: #54509d;
$selection: #1596d4;
$text-selection: #ffffff;
$border-radius: 10px;

/* Greys */
// $grey-100: #f8f9fa;
// $grey-200: #e9ecef;
// $grey-300: #dee2e6;
// $grey-400: #ced4da;
// $grey-500: #adb5bd;
// $grey-600: #6c757d;
// $grey-700: #495057;
// $grey-800: #343a40;
// $grey-900: #212529;

/* COMMON */
// $cerulean-blue: #0052cc;
// $space-cadet: #172b4d;
// $portland-orange: #ff5630;
// $chrome-yellow: #ffab00;
// $green-crayola: #36b37e;
// $pacific-blue: #00b8d9;
// $slate-blue: #6554c0;
// $cultured: #ebecf0;

// $notification-info: #0052cc;
// $notification-success: #36b37e;
// $notification-warning: #ffab00;
// $notification-error: #ff5630;
// $selection: #0052cc;
// $text-selection: #ffffff;
// $primary: #0052cc;
// $primary-text: #ffffff;
// $secondary: #00b8d9;
// $border-radius: 5px;

/* LIGHT THEME */
// $background-light: $white;
// $nav-light: $white;
// $text-color-light: $space-cadet;
// $text-color-rest-light: rgba($grey-100, 0.9);
// $card-light: $white;
// $border-light: $grey-200;
// $border-hover-light: rgba($cerulean-blue, 0.5);

/* DARK THEME */
// $background-dark: $grey-900;
// $nav-dark: $grey-800;
// $text-color-dark: $white;
// $text-color-rest-dark: $grey-500;
// $card-dark: $grey-800;
// $border-dark: $grey-700;
// $border-hover-dark: $grey-900;

/* Z-Index */
$zi-notification-queue: 9999;
$zi-page-loader: 99999;
$zi-brand: 7777;
$zi-nav-button: 8888;
$zi-nav: 7777;
$zi-user-menu: 9999;
$zi-user-menu-bkg: 8888;
// $zi-tooltip: 9999;
// $zi-modal-bkg: 8888;
// $zi-modal-container: 7001;

/* Vars */
$menu-transition: 0.2s;
