$white: #ffffff;
$black: #000000;

/* LIGHT */
$background-light: #fcfcfc;
$card-light: #ffffff;
$text-color-light: #11142d;
$text-color-secondary: #808191;
$border-light: #e4e4e4;
// $input-bkg-light: rgba(#e4e4e4, 0.3);
$input-bkg-light: #f8f7f7;

/* DARK */
$background-dark: #1f2128;
$card-dark: #252731;
$text-color-dark: #ffffff;
$border-dark: rgba(#e4e4e4, 0.1);
$input-bkg-dark: #191b20;

/* COMMON */
// Palette: https://coolors.co/palette/ef476f-f78c6b-ffd166-83d483-06d6a0-0cb0a9-118ab2-0c637f-073b4c
$green: #4fbf68;
$orange: #ff9f38;
$red: #ff6628;
$yellow: #ffd166;
$blue: #355dff;
$blue-darker: #1140ff;
$sun-moon: #f0f8ff;
$violet: #6b5dd2;
// $violet: #af5cff;
// $cyan: #b9e6ff;

$pink-300: #f06292;
$grey-100: #f5f5f5;
$grey-300: #e0e0e0;
$grey-700: #616161;

// $green: #00a676;
// $orange: #f08000;
// $red: #d44a1f;
// $yellow: #fbb927;
// $blue: #1596d4;
// $blue-darker: #1283b7;
// $violet: #54509d;
// $cyan: #00b3c8;

$secondary: #54509d;
$selection: #355dff;
$text-selection: #ffffff;
$border-radius: 10px;

/* Z-Index */
$zi-notification-queue: 8888;
$zi-lazy-loader: 99999;
$zi-page-loader: 99999;
$zi-nav-button: 20;
$zi-nav: 10;
$zi-user-menu: 7777;
$zi-user-menu-bkg: 7000;
$zi-modal-bkg: 8888;
$zi-modal-container: 7001;
$zi-scroll-top: 6000;

/* Vars */
$menu-transition: 0.2s;
