@import 'colors';
@import 'mixin';

.base-btn {
  @include border-radius($border-radius / 2);
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 0.8em;
  line-height: normal;
  height: 40px;
  @extend .bsbb;
  @extend .display-flex;
  @extend .flex-center;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
}

.default-button {
  border: 1px solid var(--border);
  @extend .base-btn;
  color: var(--text-color);
  &:hover {
    // background-color: var(--background-transparent);
    border: 1px solid var(--text-color);
  }
}

.primary-button {
  @extend .base-btn;
  background: $blue;
  color: $white;
  &:hover {
    background-color: $blue-darker;
  }
  &:disabled {
    background: $blue;
  }
}

.minimal-button {
  @extend .base-btn;
  color: var(--text-color);
  &:hover {
    background-color: var(--background-transparent);
  }
}

.submit-single-container {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-center-end;
}

.span-warning {
  color: $red;
}

.ul-double-view {
  @extend .display-flex;
  @extend .flex-direction-row;
  .li-menu {
    min-width: 25%;
    max-width: 25%;
  }
  .li-content {
    padding-left: 20px;
    @extend .bsbb;
    width: 100%;
  }
}

.common-lnk {
  @extend .display-flex;
  padding: 5px;
  color: var(--text-color-secondary);
  i {
    margin-right: 10px;
  }
  &:not(:first-of-type) {
    margin-top: 5px;
  }
  &:hover {
    color: $blue;
  }
}
