@import 'colors';
@import 'mixin';

:root {
  --background: #{$background-light};
  --nav: #{$card-light};
  --background-transparent: #{rgba($background-light, 0.9)};
  --text-color: #{$text-color-light};
  --text-color-secondary: #{$text-color-secondary};
  --card: #{$card-light};
  --border: #{$border-light};
  --input-bkg: #{$input-bkg-light};
}

[data-theme='dark'] {
  --background: #{$background-dark};
  --nav: #{$card-dark};
  --background-transparent: #{rgba($background-dark, 0.9)};
  --text-color: #{$text-color-dark};
  --text-color-secondary: #{$text-color-secondary};
  --card: #{$card-dark};
  --border: #{$border-dark};
  --input-bkg: #{$input-bkg-dark};
}
