@import '../../../styles/colors';
@import '../../../styles/mixin';

.Container {
  height: 40px;
  overflow: hidden;
  @extend .display-flex;
  @extend .flex-center-start;
  color: var(--border);
  i {
    margin-right: 10px;
    font-size: 1.2em;
  }
}
