@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.Form {
  width: 100%;
}

.SearchContainer {
  width: 100%;
  @extend .bsbb;
  padding: 0 10px 0 20px;
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-center;
  position: relative;
  i {
    position: absolute;
    left: 40px;
    color: var(--text-color-secondary);
    @extend .trstn;
  }
}

.Search {
  background: var(--nav);
  @include border-radius($border-radius * 2);
  padding-left: 50px;
  @extend .trstn;
  border: 0;
  &:focus {
    @extend .trstn;
    background: var(--input-bkg);
    border: 0;
    & + i {
      @extend .trstn;
      color: var(--text-color);
    }
  }
}
