@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.AuthTitle {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 10px;
  text-transform: capitalize;
  b {
    font-weight: 600;
    display: block;
  }
  &:nth-child(2n + 2) {
    margin-bottom: 20px;
  }
}

.Btns {
  @extend .display-flex;
  @extend .flex-direction-row;
  margin-top: 20px;
  @extend .flex-justify-between;
}
