@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixin';

.UlPipeline {
  @extend .display-flex;
  @extend .flex-direction-row;
}

.LiCharts {
  min-width: 20%;
  @extend .bsbb;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid var(--border);
}

.LiRuns {
  width: 100%;
}

.UlRun {
  @extend .display-flex;
  @extend .flex-direction-row;
  > li {
    @extend .display-flex;
    @extend .flex-center;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.LiRunInfo {
  @extend .flex-direction-column;
  width: 100%;
}

.InfoBody {
  @extend .display-flex;
  @extend .flex-direction-row;
  width: 100%;
  > li {
    &:not(:last-of-type) {
      width: 100%;
    }
    &:last-of-type {
      text-align: right;
      white-space: nowrap;
      margin-left: 10px;
    }
  }
}

.InfoHeader {
  @extend .InfoBody;
  font-size: 0.8em;
  color: var(--text-color-secondary);
  margin-bottom: 5px;
}

.InfoDuration {
  font-size: 0.8em;
  color: var(--text-color-secondary);
  margin-top: 5px;
  @extend .display-flex;
  @extend .flex-center-end;
  @extend .flex-direction-row;
  width: 100%;
}

.RunsList {
  > li {
    &:not(:last-of-type) {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid var(--border);
    }
  }
}

.PipeLink {
  width: 100%;
  display: block;
  padding: 10px;
  @include border-radius($border-radius / 2);
  @extend .bsbb;
  &:hover {
    background: var(--background);
  }
}

.FooterLnk {
  font-size: 0.8em;
  text-align: right;
  display: block;
  width: 100%;
  margin-top: 10px;
  color: var(--text-color-secondary);
  &:hover {
    color: $blue;
  }
}
