@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.Button {
  position: absolute;
  @extend .display-flex;
  @extend .flex-center;
  width: 42px;
  height: 42px;
  padding: 10px;
  @include border-radius($border-radius / 2);
  border: 1px solid var(--border);

  top: 70px;
  right: 10px;
  @media screen and (min-width: 768px) {
    right: 20px;
    top: 80px;
  }

  &:hover {
    background: var(--input-bkg);
  }
}

.SubMenu {
  position: absolute;
  z-index: 1;
  @include box-shadow(0, 0, 5px, 0, var(--border));
  background: var(--card);
  border: 1px solid var(--border);
  @include border-radius($border-radius / 2);
  right: 10px;
  top: 120px;
  @media screen and (min-width: 768px) {
    right: 20px;
    top: 130px;
  }
  overflow: hidden;
  @extend .display-flex;
  @extend .flex-direction-column;
  button,
  a {
    width: 100%;
    @extend .display-flex;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    i {
      margin-right: 10px;
    }
    &:hover {
      background: var(--input-bkg);
    }
  }
}
