@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.Button {
  position: absolute;
  // border: 1px solid var(--border);
  // @extend .base-btn;
  @extend .display-flex;
  // background: red;
  @extend .flex-center;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: var(--text-color-secondary);
  @include border-radius($border-radius / 2);
  border: 1px solid var(--border);
  // font-size: 0.8em;
  top: 70px;

  right: 10px;
  @media screen and (min-width: 768px) {
    right: 20px;
  }

  &:hover {
    // background-color: var(--background-transparent);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    // background: var(--card);
  }
}

.SubMenu {
}
