@import '../../../styles/colors';
@import '../../../styles/mixin';

.UlIcon {
  @extend .display-flex;
  @extend .flex-direction-row;
}

.LiIcon {
  margin-right: 10px;
  min-width: 40px;
  max-width: 40px;
  i {
    width: 40px;
    height: 40px;
    // font-size: 1.2em;
    @extend .display-flex;
    @extend .flex-center;
    @include border-radius(50%);
    background: $blue;
    color: $white;
  }
}

.LiSelectIcon {
  width: 100%;
  position: relative;
}

.IconList {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: var(--card);
  z-index: 1;
  display: none;
  input {
    margin-bottom: 5px;
  }
}

.Visible {
  display: block;
}

.IconContainer {
  // height: 200px;
  max-height: 200px;
  overflow: auto;
  @include border-radius($border-radius);
  @include box-shadow(0, 0, 10px, 0, rgba(black, 0.2));
  padding: 10px;
  @extend .bsbb;
  @extend .display-flex;
  // @extend .flex-direction-row;
  // @extend .flex-center-start;
  @extend .flex-wrap;
  li {
    max-height: 40px;
    max-width: 40px;
    button {
      @extend .display-flex;
      @extend .flex-center;
      width: 30px;
      height: 30px;
      border: 1px solid var(--border);
      // color: var(--border);
      margin: 5px;
      @include border-radius($border-radius / 2);
      &:hover {
        border: 1px solid var(--text-color-secondary);
      }
    }
  }
}

.LiShuffle {
  @extend .display-flex;
  @extend .flex-center;
  min-width: 42px;
  margin-left: 10px;
  button {
    @extend .display-flex;
    @extend .flex-center;
    height: 42px;
    width: 42px;
    border: 1px solid var(--border);
    @include border-radius($border-radius / 2);
    &:hover {
      border: 1px solid var(--text-color);
      color: var(--text-color);
    }
  }
}
