@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.FlowContainer {
  @include calc('height', '100vh - 190px');
  width: 100%;
  @extend .display-flex;
  @extend .flex-direction-column;
  @include border-radius($border-radius);
  border: 1px solid var(--border);
  background: var(--card);
  padding: 10px;
  @extend .bsbb;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
