@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.SocketActive {
  position: absolute;
  width: 42px;
  height: 42px;
  @extend .display-flex;
  @extend .flex-center;

  top: 70px;
  right: 52px;
  @media screen and (min-width: 768px) {
    right: 62px;
    top: 80px;
  }
}

.Title {
  font-size: 1.5em;
  font-weight: 400;
  @extend .display-flex;
  @extend .flex-direction-row;
  // @extend .flex-center-start;
  @extend .flex-justify-between;
  width: 100%;
  margin-bottom: 20px;
  @extend .bsbb;

  padding-right: 80px;
  @media screen and (min-width: 768px) {
    padding-right: 90px;
  }
}
