@import '../../../styles/colors';
@import '../../../styles/mixin';

.Bkg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: var(--background-transparent);
  z-index: $zi-user-menu-bkg;
  background: rgba($black, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  content: '';
  @extend .trstn;
  display: none;
  &.IsOpen {
    display: block;
    @extend .trstn;
  }
}

.SideBar {
  position: fixed;
  height: 100%;
  background: var(--nav);
  z-index: $zi-user-menu;
  @extend .trstn;

  @media screen and (min-width: 320px) {
    right: -100%;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    right: -60%;
    width: 60%;
  }
  @media screen and (min-width: 1024px) {
    right: -30%;
    width: 30%;
  }

  &.IsOpen {
    right: 0;
    @extend .trstn;
  }
}

.IsOpen {
  right: 0;
}

.Header {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-justify-between;
  @extend .bsbb;
  padding: 10px 10px 10px 20px;
  height: 60px;
  border-bottom: 1px solid rgba($blue, 0.2);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
}

.Body {
  @extend .bsbb;
  overflow: auto;
  // padding: 20px 0;
  @include calc('height', '100% - 60px');
}

.CloseBtn {
  font-size: 20px;
  padding: 10px;
  color: var(--text-color-secondary);
  &:hover {
    color: var(--text-color);
  }
}
