@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.UlWidgets {
  @extend .display-flex;
  @extend .flex-direction-column;
  @media screen and (min-width: 768px) {
    @include flex-direction-row;
  }
}

.LiWidgets {
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    min-width: 30%;
    max-width: 30%;
  }
}

.LiForm {
  @extend .bsbb;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-left: 20px;
  }
}
