@import '../../../../styles/colors';
@import '../../../../styles/mixin';

.UlWidgets {
  @extend .display-flex;
  @extend .flex-direction-row;
}

.LiWidgets {
  min-width: 30%;
  max-width: 30%;
}

.LiForm {
  padding-left: 20px;
  @extend .bsbb;
  width: 100%;
}
