@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.UlBtns {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-end;
  @extend .bsbb;
  margin-top: 40px;
  @extend .flex-justify-between;
}

.Cost {
  margin-top: 40px;
  span {
    color: $green;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 5px;
  }
}
