@import '../../../styles/colors';
@import '../../../styles/mixin';

.Wrapper {
  @extend .display-flex;
  @extend .flex-direction-column;
  @extend .flex-wrap;
  margin-bottom: -10px;

  @media screen and (min-width: 768px) {
    @include flex-direction-row;
  }

  li {
    @extend .display-flex;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 33.33333%;
    }
    @extend .bsbb;
    &:nth-child(3n) {
      padding: 0 0 10px 5px;
    }
    &:nth-child(3n + 1) {
      padding: 0 5px 10px 0;
    }
    &:nth-child(3n + 2) {
      padding: 0 5px 10px 5px;
    }
    > div {
      @extend .display-flex;
      width: 100%;

      input[type='radio'] {
        opacity: 0;
        position: fixed;
        width: 0;
      }
      label {
        width: 100%;
        position: relative;
        @extend .display-flex;
        @extend .flex-center;
        cursor: pointer;
        @extend .flex-direction-column;
        @extend .bsbb;
        padding: 10px 20px;
        background: var(--input-bkg);
        border: 1px solid var(--input-bkg);
        @include border-radius($border-radius / 2);
        text-align: center;
        overflow: hidden;
        span,
        p {
          word-break: break-all;
        }
        p {
          &:first-of-type {
            margin-top: 5px;
          }
          font-size: 0.8em;
        }
        &:hover {
          border: 1px solid $blue;
        }
      }
      input[type='radio']:checked + label {
        background-color: rgba($blue, 0.1);
        border-color: $blue;
        &:after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          top: -10px;
          right: -3px;
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid $blue;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.Emphasis {
  font-weight: 600;
}
