@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.Container {
  @extend .display-flex;
  @extend .flex-direction-column;
  background: var(--card);
  @include border-radius($border-radius);
  border: 1px solid var(--border);
}

.UlSecret {
  padding: 10px;
  @extend .bsbb;
  @extend .display-flex;
  @extend .flex-direction-row;
}

.LiIcon {
  min-width: 40px;
  max-width: 40px;
  i {
    width: 40px;
    height: 40px;
    // font-size: 1.5em;
    @extend .display-flex;
    @extend .flex-center;
    @include border-radius(50%);
    background: $blue;
    color: $white;
  }
}

.LiInfo {
  @extend .display-flex;
  @extend .flex-direction-column;
  margin-left: 10px;
  width: 100%;
}

.Name {
  font-weight: 600;
  text-transform: uppercase;
}

.Footer {
  @extend .display-flex;
  @extend .flex-direction-row;
  border-top: 1px solid var(--border);
  @extend .flex-center-end;
}

.DeleteBtn {
  @extend .display-flex;
  @extend .flex-center;
  height: 40px;
  width: 40px;

  color: var(--border);
  &:hover {
    color: $red;
  }
}

.UlLabels {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-wrap;
  li {
    width: 100%;
    &:nth-last-child(-n + 1) {
      margin-bottom: -10px;
    }
    @media screen and (min-width: 768px) {
      width: 50%;
      &:nth-last-child(-n + 2) {
        margin-bottom: -10px;
      }
    }
  }
}
