@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.UlKeyVal {
  @extend .display-flex;
  @extend .flex-direction-row;
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.LiInput {
  width: 100%;
  margin-right: 10px;
}

.LiBtn {
  min-width: 42px;
  button {
    @extend .display-flex;
    @extend .flex-center;
    height: 42px;
    width: 42px;
    border: 1px solid var(--border);
    @include border-radius($border-radius / 2);
    color: var(--border);
    &:hover {
      color: $red;
    }
  }
}

.UlHeaders {
  @extend .display-flex;
  @extend .flex-direction-row;
  margin-bottom: 10px;
  li {
    &:first-of-type {
      font-size: 0.7em;
      color: var(--text-color-secondary);
      width: 100%;
      span {
        text-transform: uppercase;
        display: block;
        color: $blue;
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
    &:last-of-type {
      button {
        @extend .display-flex;
        @extend .flex-center;
        height: 42px;
        width: 42px;
        border: 1px solid var(--border);
        @include border-radius($border-radius / 2);
        color: var(--text-color);
        &:hover {
          color: $blue;
          border: 1px solid var(--text-color);
        }
      }
    }
  }
}
