@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.UlKeyVal {
  @extend .display-flex;
  @extend .flex-direction-row;
  li {
    width: 50%;
    &:first-of-type {
      margin-right: 5px;
    }
    &:last-of-type {
      margin-left: 5px;
    }
  }
}
