@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.Link {
  display: block;
  overflow: hidden;
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  &:nth-last-of-type(odd) {
    > div {
      background: var(--card);
    }
  }
}

.Container {
  @include border-radius($border-radius);
  border: 2px solid var(--background);
  @extend .trstn;
  &:hover {
    @extend .trstn;
    border: 2px solid $blue;
  }
}

.UlDeployment {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .bsbb;
  padding: 20px;
}

.LiIcon {
  @extend .display-flex;
  @extend .flex-center;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  background: $blue;
  color: $white;
  @include border-radius(50%);
  margin-right: 10px;
}

.LiInfo {
  @extend .display-flex;
  @extend .flex-center;
  @extend .flex-direction-column;
  width: 100%;
  b {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  span {
    font-style: italic;
    margin-top: 10px;
    width: 100%;
    font-size: 0.8em;
  }
}

.LiDate {
  @extend .display-flex;
  @extend .flex-center-end;
  font-size: 0.8em;
  min-width: 130px;
  text-align: right;
}

.UlStatus {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-justify-between;
  padding: 0 20px 20px 20px;
}

.LiTags {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .bsbb;
}

.LiStats {
  @extend .display-flex;
  @extend .flex-direction-row;
  span {
    font-weight: 600;
    i {
      margin-left: 5px;
    }
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

.SpanSecurity {
  color: rgba($blue, 0.3);
}

.SpanBugs {
  color: $green;
}

.SpanTests {
  color: rgba($violet, 0.3);
}

.SpanCosts {
  color: rgba($orange, 0.3);
}
