@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';

.UlMenu {
  @extend .display-flex;
  @extend .flex-direction-row;
  @extend .flex-wrap;
  li {
    margin-bottom: 5px;
    &:not(:last-of-type) {
      margin-right: 5px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}

.Link {
  @extend .display-flex;
  @extend .flex-direction-row;
  padding: 10px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-color-secondary);
  font-size: 0.8em;
  @include border-radius($border-radius * 2);
  i {
    margin-right: 10px;
  }
  &:hover {
    background: var(--input-bkg);
  }
}

.LinkActive {
  @extend .Link;
  color: $blue;
  background: var(--input-bkg);
}
