@import '../../../styles/colors';
@import '../../../styles/mixin';

.UlCards {
  @extend .display-flex;
  @extend .flex-direction-column;
  > li {
    width: 100%;
    &:not(:last-of-type) {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--border);
    }
  }
}
