@import '../../../../../styles/colors';
@import '../../../../../styles/mixin';
@import '../../../../../styles/common';

.Event {
  @extend .display-flex;
  @extend .flex-direction-column;
  @extend .bsbb;
  padding: 20px;
  border-bottom: 1px solid rgba($blue, 0.2);
  position: relative;
  ul {
    width: 100%;
    @extend .bsbb;
    @extend .display-flex;
    @extend .flex-direction-row;
  }
}

.Spacer {
  width: 100%;
}

.Icon {
  @extend .display-flex;
  margin-right: 10px;
  min-width: 40px;
  width: 40px;
  i {
    @extend .display-flex;
    @extend .flex-center;
    @include border-radius(50%);
    width: 40px;
    height: 40px;
  }
}

.Content {
  width: 100%;
}

.Close {
  min-width: 20px;
  width: 20px;
  margin-left: 10px;
  @extend .display-flex;
  @extend .flex-center;
  button {
    color: var(--text-color-secondary);
    @extend .display-flex;
    @extend .flex-center;
    font-size: 0.8em;
    min-width: 20px;
    min-height: 20px;
    &:hover {
      color: var(--color-text);
    }
  }
}

.Time {
  color: var(--text-color-secondary);
  font-size: 0.7em;
  margin: 5px 0 0 0;
  display: block;
}

.Source {
  @extend .Time;
  margin: 0 0 5px 0;
}

@mixin npt($name, $color) {
  .#{$name} {
    i {
      background: rgba($color, 0.1);
      color: $color;
      border: 1px solid rgba($color, 0.2);
      @extend .bsbb;
    }
  }
}

@include npt('Info', $green);
@include npt('Warning', $orange);
@include npt('Error', $red);
@include npt('Debug', $blue);

.CallToAction {
  cursor: pointer;
  &:hover {
    background: rgba($blue, 0.1);
  }
}

.Unread {
  &::after {
    content: '';
    position: absolute;
    @include border-radius(50%);
    right: 7px;
    top: 7px;
    display: block;
    width: 7px;
    height: 7px;
    background-color: $red;
  }
}
